@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");

:root {
  --white-color: #ffffff;
  --border-color: #00000033;
  --gray-color: #7d7d7d;
  --dark-gray: #666363;
  --light-green: #d8ffe1;
  --green-color: #28a745;
  --light-green: #cbebd3;
  --dark-green: #10411b;
  --blue-color: #009eca;
  --font-color: #282828;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Vazirmatn", sans-serif;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

p,
span,
h1,
h2,
h3 {
  color: var(--font-color);
}
