.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 561px;
  /* height: 362px; */
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.otpContainer {
  direction: ltr;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.form label {
  margin-right: 40px;
  font-size: 1rem;
  font-weight: 300;
}

.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin: 45px auto 25px;
}

.input {
  width: 490px;
  height: 55px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 4px;
}
.input:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 0 3px rgba(22, 163, 74, 0.15);
}

.error {
  color: red;
  margin: 0 40px;
}

.serverError {
  color: red;
  text-align: center;
  margin-top: 5px;
  direction: rtl;
}

.button {
  background-color: var(--green-color);
  width: 490px;
  height: 55px;
  color: var(--white-color);
  border-radius: 6px;
  margin: 13px auto 40px;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

@media (max-width: 786px) {
  .container {
    width: 358px;
  }
  .title {
    font-size: 22px;
  }
  .input {
    width: 278px;
  }
  .button {
    width: 278px;
    font-size: 18px;
  }
}
