.container {
  width: 880px;
  height: 71px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 84px auto;
}

.dateContainer {
  position: relative;
  margin: 0px;
  display: flex;
  align-items: center;
}
.calendar {
  position: absolute;
  top: 420px;
  left: 130px;
}

.button {
  width: 180px;
  height: 51px;
  border-radius: 16px;
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 20px;
  border: none;
  margin-left: 5px;
}

.input {
  width: 120px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
/* 
.input::placeholder {
  color: var(--dark-gray);
  font-weight: 700 ;
} */

.inputContainer {
  width: 200px;
  border-left: 1px solid var(--border-color);
  position: relative;
}

.labelStyle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  padding: 0 7px;
  z-index: 10;
  color: var(--dark-gray);
  transition: all 0.3s ease;
  pointer-events: none;
  font-weight: 700;
}


.active {
  top: -15px;
  right: 0;
  background-color: white;
  font-weight: 300;
  color: var(--border-color);
}
.dateActive {
  top: -22px;
  right: 0;
  background-color: white;
  font-weight: 300;
  color: var(--border-color);
}

@media (max-width: 786px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 328px;
    gap: 8px;
    border: none;
  }

  .inputContainer {
    padding: 5px;
    width: 160px;
    height: 47px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
  }
  .dateContainer {
    position: relative;
    padding: 5px;
    width: 328px;
    height: 47px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
  }
  .calendar {
    position: absolute;
    top: 0px;
    left: 1054px;
  }
}
